.container {
  --accent-color: #f5d760;
  --rock-color: #6881fd;
  --paper-color: #6cc417;
  --scissors-color: #ff3f00;

  --border-radius: 20px;

  height: 100vh;
  display: flex;
  flex-direction: column;
  color: var(--accent-color);
  text-transform: uppercase;
  font-weight: bold;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button {
  text-align: center;
  border: 2px solid var(--accent-color);
  border-radius: var(--border-radius);
  background-color: #000000;
  color: var(--accent-color);
  font-size: 2.8rem;
  padding: 1.8rem 1.6em;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;

  &:hover:enabled,
  &:focus-within {
    background-color: var(--accent-color);
    color: black;
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.mainBottomPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.buttonContainer {
  margin-top: 6rem;
}

.title {
  margin-bottom: 3rem;
}

*:focus-visible {
  outline: 3px solid white;
  outline-offset: 0.25rem;
  border-radius: 0.125rem;
}
