.position {
  width: 240px;
  aspect-ratio: 3 / 5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem 1rem;
  color: black;
  border: 2px solid black;
  border-radius: var(--border-radius);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 12rem;
  cursor: pointer;
  font-weight: bold;
}

.rock {
  background-image: url("./rock.png");
}

.paper {
  background-image: url("./paper.png");
}

.scissors {
  background-image: url("./scissors.png");
}

.label {
  font-size: 2.2rem;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

.increaseButtonCentered {
  right: 50%;
  transform: translateX(50%);
}
